<a href="https://colab.research.google.com/github/Alizay-19/git_basics/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import json

# Step 1: Set environment variables
os.environ['KAGGLE_USERNAME'] = 'alizaytanoli'
os.environ['KAGGLE_KEY'] = '3baed560d60ed7c23efa0621ef5e97d3'

In [ ]:
#!/bin/bash
!kaggle datasets download olistbr/brazilian-ecommerce

Dataset URL: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce
License(s): CC-BY-NC-SA-4.0
Downloading brazilian-ecommerce.zip to /content
  0% 0.00/42.6M [00:00<?, ?B/s]
100% 42.6M/42.6M [00:00<00:00, 1.18GB/s]

In [ ]:
!unzip /content/brazilian-ecommerce.zip

Archive:  /content/brazilian-ecommerce.zip
  inflating: olist_customers_dataset.csv
  inflating: olist_geolocation_dataset.csv
  inflating: olist_order_items_dataset.csv
  inflating: olist_order_payments_dataset.csv
  inflating: olist_order_reviews_dataset.csv
  inflating: olist_orders_dataset.csv
  inflating: olist_products_dataset.csv
  inflating: olist_sellers_dataset.csv
  inflating: product_category_name_translation.csv

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("/content/olist_customers_dataset.csv")
df2 = pd.read_csv("/content/olist_geolocation_dataset.csv")
df3 = pd.read_csv("/content/olist_order_items_dataset.csv")
df4 = pd.read_csv("/content/olist_order_payments_dataset.csv")
df5 = pd.read_csv("/content/olist_order_reviews_dataset.csv")
df6 = pd.read_csv("/content/olist_orders_dataset.csv")
df7 = pd.read_csv("/content/olist_products_dataset.csv")
df8 = pd.read_csv("/content/olist_sellers_dataset.csv")
df9 = pd.read_csv("/content/product_category_name_translation.csv")

In [ ]:
df1.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

In [ ]:
df1['customer_id'].nunique()

99441

In [ ]:
df1[['customer_id','customer_state']].value_counts()

customer_id                       customer_state
ffffe8b65bbe3087b653a978c870db99  SP                1
fff5169e583fd07fac9fec88962f189d  SP                1
fff4fdd0de70a51d4e0f57a4c1c6bfae  SP                1
fff4f0c85a4d710abe06599e1ed08a42  RJ                1
fff415b4c72e09483a25c15108c65d31  PE                1
                                                   ..
0004164d20a9e969af783496f3408652  SP                1
000379cdec625522490c315e70c7a9fb  SP                1
0002414f95344307404f0ace7a26f1d5  MG                1
0001fd6190edaaf884bcaf3d49edf079  ES                1
000161a058600d5901f007fab4c27140  MG                1
Name: count, Length: 99441, dtype: int64

In [ ]:
df8.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [ ]:
df8['seller_city'].head(10)

0             campinas
1           mogi guacu
2       rio de janeiro
3            sao paulo
4    braganca paulista
5       rio de janeiro
6               brejao
7            penapolis
8            sao paulo
9             curitiba
Name: seller_city, dtype: object

In [ ]:
df6.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [ ]:
df2.head(2)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP

In [ ]:
df3.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

In [ ]:
df4.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [ ]:
df5.head(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13

In [ ]:
df7.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [ ]:
df9.head(2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories

In [ ]:
df1.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

In [ ]:
df6.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [ ]:
merge_df =pd.merge( df1,df6 , on= 'customer_id')
merge_df.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00

In [ ]:
merge_df['customer_city'].head(10)

0                   franca
1    sao bernardo do campo
2                sao paulo
3          mogi das cruzes
4                 campinas
5           jaragua do sul
6                sao paulo
7                  timoteo
8                 curitiba
9           belo horizonte
Name: customer_city, dtype: object

In [ ]:
merge_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00

In [ ]:
merge_df[['customer_city','customer_id']].value_counts().head(10)

customer_city  customer_id
zortea         e046f992a304cc92e1b00d7fccdf1c42    1
xinguara       85db83a1e38c9d4f92da1c1e210c5f80    1
               6611182ab275e5093731c323e3805777    1
               462dc285a81ff498ec5e0a1925711c19    1
               367000b9bd508db790e048df2f6d6af9    1
               029c22b31758dbd1588d75557e73d920    1
xexeu          e68d2e59d2daddbd8f3c601ef50d987d    1
xaxim          f58c599c3632821a4a9fbbea187fabde    1
               e0c77096ebcb9aedc1c613ac43e0ccfc    1
               ceabccf902b8ad0e15d6429e00d10805    1
Name: count, dtype: int64

In [ ]:
df5.shape

(99224, 7)

In [ ]:
df1_df5_df6 = pd.merge(merge_df,df5,on = "order_id")

In [ ]:
df1_df5_df6.shape

(99224, 18)

In [ ]:
df1_df5_df6_df4= pd.merge(df1_df5_df6,df4,on = 'order_id')
df1_df5_df6_df4.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,payment_sequential,payment_type,payment_installments,payment_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,credit_card,2,146.87

In [ ]:
df1_df5_df6_df4_df3 = pd.merge(df1_df5_df6_df4, df3,on = 'order_id')
df1_df5_df6_df4_df3.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,payment_sequential,payment_type,payment_installments,payment_value,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,1,credit_card,2,146.87,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88

In [ ]:
df1_df3_df4_df5_df6_df8 = pd.merge(df1_df5_df6_df4_df3,df8, on = "seller_id")
df1_df3_df4_df5_df6_df8.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,payment_value,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code_prefix,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,146.87,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,itaquaquecetuba,SP

In [ ]:
f_df = pd.merge(df1_df3_df4_df5_df6_df8,df7, on= "product_id")
f_df.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,seller_city,seller_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,itaquaquecetuba,SP,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0

In [ ]:
f_df = pd.merge(f_df,df9,on = 'product_category_name')
f_df.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [ ]:
f_df.groupby('customer_id')['order_id'].nunique().mean()

np.float64(1.0)

In [ ]:
f_df.groupby('customer_unique_id')['customer_id'].nunique()

customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2    1
0000b849f77a49e4a4ce2b2a4ca5be3f    1
0000f46a3911fa3c0805444483337064    1
0000f6ccb0745a6a4b88665a16c9f078    1
0004aac84e0df4da2b147fca70cf8255    1
                                   ..
fffcf5a5ff07b0908bd4e2dbc735a684    1
fffea47cd6d3cc0a88bd621562a9d061    1
ffff371b4d645b6ecea244b27531430a    1
ffff5962728ec6157033ef9805bacc48    1
ffffd2657e2aad2907e67c3e9daecbeb    1
Name: customer_id, Length: 93396, dtype: int64

In [ ]:
f_df['order_delivered_customer_date'] = pd.to_datetime(f_df['order_delivered_customer_date'])
f_df['order_purchase_timestamp'] = pd.to_datetime(f_df['order_purchase_timestamp'])
average_delivery_time = (f_df['order_delivered_customer_date'] - f_df['order_purchase_timestamp']).mean()
average_delivery_time

Timedelta('12 days 10:36:41.583178015')

In [ ]:
f_df['order_estimated_delivery_date'] = pd.to_datetime(f_df['order_estimated_delivery_date'])
f_df['order_delivered_customer_date'] = pd.to_datetime(f_df['order_delivered_customer_date'])
average_delivery_time = (f_df['order_estimated_delivery_date'] - f_df['order_delivered_customer_date']).mean()
average_delivery_time

Timedelta('11 days 09:29:25.956416892')

In [ ]:
late_delivery = f_df[f_df['order_delivered_customer_date'] > f_df['order_estimated_delivery_date']]
late_delivery.shape

(8715, 40)

In [ ]:
f_df['order_status'].value_counts()

order_status
delivered      113210
shipped          1138
canceled          536
invoiced          358
processing        357
unavailable         7
approved            3
Name: count, dtype: int64

In [ ]:
average_review=f_df['review_score'].mean()
average_review

np.float64(4.034409085797819)

In [ ]:
higher_reviews = f_df[f_df['review_score'] <= 2]
higher_reviews_by_category = higher_reviews['product_category_name_english'].value_counts()
(higher_reviews_by_category.head(10))

product_category_name_english
bed_bath_table           2286
furniture_decor          1693
computers_accessories    1489
health_beauty            1373
sports_leisure           1299
housewares               1133
watches_gifts            1005
telephony                 786
garden_tools              745
auto                      664
Name: count, dtype: int64

In [ ]:
f_df['payment_type'].value_counts()

payment_type
credit_card    85278
boleto         22510
voucher         6162
debit_card      1659
Name: count, dtype: int64

In [ ]:
f_df['review_creation_date'] = pd.to_datetime(f_df['review_creation_date'])
f_df['order_delivered_customer_date'] = pd.to_datetime(f_df['order_delivered_customer_date'])
f_df['review_creation_date']-f_df['order_delivered_customer_date']

0          0 days 13:24:25
1          0 days 11:18:41
2          0 days 06:01:09
3          0 days 07:55:35
4          0 days 03:04:12
                ...
115604     0 days 03:53:23
115605     0 days 05:05:15
115606   -6 days +04:56:45
115607     0 days 04:01:21
115608     0 days 05:17:24
Length: 115609, dtype: timedelta64[ns]

In [ ]:
f_df.groupby('payment_type')['payment_installments'].mean()

payment_type
boleto         1.000000
credit_card    3.638453
debit_card     1.000000
voucher        1.000000
Name: payment_installments, dtype: float64

In [ ]:
f_df.groupby('payment_type')['payment_value'].mean().sort_values(ascending=False)

payment_type
credit_card    179.421424
boleto         176.950041
debit_card     150.403080
voucher         64.292139
Name: payment_value, dtype: float64

In [ ]:
f_df.groupby('product_category_name')['price'].max()

product_category_name
agro_industria_e_comercio    2990.00
alimentos                     274.99
alimentos_bebidas             699.90
artes                        6499.00
artes_e_artesanato            289.49
                              ...
sinalizacao_e_seguranca       740.00
tablets_impressao_imagem      152.99
telefonia                    2428.00
telefonia_fixa               1790.00
utilidades_domesticas        6735.00
Name: price, Length: 71, dtype: float64

In [ ]:
f_df.groupby('product_weight_g')['price'].mean()

product_weight_g
0.0        118.687500
2.0        162.710000
25.0       129.900000
50.0        54.881848
53.0        99.075000
              ...
29700.0    495.700000
29750.0    799.000000
29800.0    699.000000
30000.0    657.008108
40425.0     80.000000
Name: price, Length: 2197, dtype: float64

In [ ]:
f_df.groupby('product_photos_qty')['price'].mean()

product_photos_qty
1.0     113.485333
2.0     111.567860
3.0     135.309956
4.0     146.108498
5.0     136.801679
6.0     130.864689
7.0     158.786166
8.0     147.159909
9.0     127.517055
10.0    149.426657
11.0     74.961096
12.0     45.691000
13.0     41.226000
14.0    250.145000
15.0     86.980833
17.0     76.454545
18.0     88.600000
19.0    138.940000
20.0    110.270000
Name: price, dtype: float64

In [ ]:
f_df['seller_id'].nunique()

3028

In [ ]:
f_df.groupby('seller_id')['price'].sum().sort_values(ascending=False)

seller_id
53243585a1d6dc2643021fd1853d8905    242591.55
4869f7a5dfa277a7dca6462dcf3b52b2    236465.64
4a3ca9315b744ce9f8e9374361493884    213208.27
fa1c13f2614d7b5c4749cbc52fecda94    202716.62
7c67e1448b00f6e969d365cea6b010ab    198118.30
                                      ...
4965a7002cca77301c82d3f91b82e1a9         8.49
ad14615bdd492b01b0d97922e87cb87f         8.25
1fa2d3def6adfa70e58c276bb64fe5bb         6.90
77128dec4bec4878c37ab7d6169d6f26         6.50
cf6f6bc4df3999b9c6440f124fb2f687         3.50
Name: price, Length: 3028, dtype: float64

In [ ]:
f_df.groupby('seller_state')['seller_id'].nunique().sort_values(ascending=False)

seller_state
SP    1806
PR     342
MG     236
SC     186
RJ     170
RS     128
GO      37
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
MS       5
RN       5
MT       4
RO       2
SE       2
AM       1
AC       1
PI       1
MA       1
PA       1
Name: seller_id, dtype: int64

In [ ]:
f_df.groupby('seller_id')[['price','freight_value']].mean()

                                       price  freight_value
seller_id
0015a82c2db000af6aaaf3ae2ecb0532  895.000000      21.020000
001cca7ae9ae17fb1caed9dfb1094831  104.785420      37.101681
001e6ad469a905060d959994f1b41e4f  250.000000      17.940000
002100f778ceb8431b7a1020ff7ab48f   22.086441      14.208644
004c9cd9d87a3c30c522c48c4fc07416  114.131976      19.106886
...                                      ...            ...
ffcfefa19b08742c5d315f2791395ee5   69.900000       9.620000
ffdd9f82b9a447f6f8d4b91554cc7dd3  101.942857      35.425238
ffeee66ac5d5a62fe688b9d26f83f534  131.418571      29.977857
fffd5413c0700ac820c7069d66d98c89  150.319672      46.988033
ffff564a4f9085cd26170f4732393726   70.461111      17.325556

[3028 rows x 2 columns]

In [ ]:
f_df.groupby('seller_state')['freight_value'].mean().sort_values(ascending=False)

seller_state
RO    50.912857
CE    44.159029
PB    37.567750
PI    36.943333
AC    32.840000
ES    32.451631
MT    32.208299
SE    31.849000
BA    31.054842
MA    30.033151
PE    27.564924
AM    27.266667
RS    26.247118
SC    26.177309
MG    24.219654
GO    24.094749
MS    23.976271
RN    23.287679
PR    22.796316
DF    21.647033
RJ    19.532413
PA    19.388750
SP    18.495028
Name: freight_value, dtype: float64

TODAY TASK;

Q1. Are there any missing values in the dataset? Which columns have the most missing data?

In [ ]:
f_df.isnull().sum().sort_values(ascending=False)

review_comment_title             101808
review_comment_message            66703
order_delivered_customer_date      2400
order_delivered_carrier_date       1195
order_approved_at                    14
product_length_cm                     1
product_width_cm                      1
product_height_cm                     1
product_weight_g                      1
order_status                          0
order_id                              0
customer_state                        0
customer_city                         0
customer_zip_code_prefix              0
customer_unique_id                    0
customer_id                           0
order_purchase_timestamp              0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
review_creation_date                  0
order_estimated_delivery_date         0
review_score                          0
review_id                             0
product_id                            0
order_item_id                         0
payment_value                         0
payment_installments                  0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
product_category_name                 0
seller_state                          0
seller_city                           0
seller_zip_code_prefix                0
product_photos_qty                    0
product_description_lenght            0
product_name_lenght                   0
product_category_name_english         0
dtype: int64

Q2. Convert all date/time columns to datetime objects — how many columns needed this conversion?

In [ ]:
f_df.info(())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    115609 non-null  object
 1   customer_unique_id             115609 non-null  object
 2   customer_zip_code_prefix       115609 non-null  int64
 3   customer_city                  115609 non-null  object
 4   customer_state                 115609 non-null  object
 5   order_id                       115609 non-null  object
 6   order_status                   115609 non-null  object
 7   order_purchase_timestamp       115609 non-null  datetime64[ns]
 8   order_approved_at              115595 non-null  object
 9   order_delivered_carrier_date   114414 non-null  object
 10  order_delivered_customer_date  113209 non-null  datetime64[ns]
 11  order_estimated_delivery_date  115609 non-null  datetime64[ns]
 12  review_id                      115609 non-null  object
 13  review_score                   115609 non-null  int64
 14  review_comment_title           13801 non-null   object
 15  review_comment_message         48906 non-null   object
 16  review_creation_date           115609 non-null  datetime64[ns]
 17  review_answer_timestamp        115609 non-null  object
 18  payment_sequential             115609 non-null  int64
 19  payment_type                   115609 non-null  object
 20  payment_installments           115609 non-null  int64
 21  payment_value                  115609 non-null  float64
 22  order_item_id                  115609 non-null  int64
 23  product_id                     115609 non-null  object
 24  seller_id                      115609 non-null  object
 25  shipping_limit_date            115609 non-null  object
 26  price                          115609 non-null  float64
 27  freight_value                  115609 non-null  float64
 28  seller_zip_code_prefix         115609 non-null  int64
 29  seller_city                    115609 non-null  object
 30  seller_state                   115609 non-null  object
 31  product_category_name          115609 non-null  object
 32  product_name_lenght            115609 non-null  float64
 33  product_description_lenght     115609 non-null  float64
 34  product_photos_qty             115609 non-null  float64
 35  product_weight_g               115608 non-null  float64
 36  product_length_cm              115608 non-null  float64
 37  product_height_cm              115608 non-null  float64
 38  product_width_cm               115608 non-null  float64
 39  product_category_name_english  115609 non-null  object
dtypes: datetime64[ns](4), float64(10), int64(6), object(20)
memory usage: 35.3+ MB

In [ ]:
f_df['order_delivered_carrier_date'] =pd.to_datetime(f_df['order_delivered_carrier_date'])
f_df['review_answer_timestamp'] =pd.to_datetime(f_df['review_answer_timestamp'])
f_df['order_approved_at'] =pd.to_datetime(f_df['order_approved_at'])
f_df['order_purchase_timestamp'] =pd.to_datetime(f_df['order_purchase_timestamp'])
f_df['order_delivered_customer_date'] =pd.to_datetime(f_df['order_delivered_customer_date'])
f_df['review_creation_date'] =pd.to_datetime(f_df['review_creation_date'])
f_df['order_estimated_delivery_date'] =pd.to_datetime(f_df['order_estimated_delivery_date'])


f_df.select_dtypes(include= 'datetime').shape[1]

7

In [ ]:
f_df.duplicated().sum()

np.int64(0)

In [ ]:
f_df['customer_city'].value_counts().head()

customer_city
sao paulo         18267
rio de janeiro     8022
belo horizonte     3196
brasilia           2434
curitiba           1790
Name: count, dtype: int64

In [ ]:
f_df['seller_city'].value_counts().head()

seller_city
sao paulo                28811
ibitinga                  8227
santo andre               3131
curitiba                  3111
sao jose do rio preto     2667
Name: count, dtype: int64

In [ ]:
f_df.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [ ]:
f_df['product_category_name_english'].value_counts().head(1)

product_category_name_english
bed_bath_table    11847
Name: count, dtype: int64

In [ ]:
average_order_value =f_df.groupby('order_id')['payment_value'].sum().mean()
average_order_value

np.float64(206.48941626258858)

In [ ]:
f_df['customer_id'].nunique()

96516

In [ ]:
f_df['seller_id'].nunique()

3028

In [ ]:
f_df[['payment_value','freight_value']].describe()

       payment_value  freight_value
count  115609.000000  115609.000000
mean      172.387379      20.056880
std       265.873969      15.836184
min         0.000000       0.000000
25%        60.870000      13.080000
50%       108.050000      16.320000
75%       189.480000      21.210000
max     13664.080000     409.680000

In [ ]:
f_df.select_dtypes(include='number').head()

,customer_zip_code_prefix,review_score,payment_sequential,payment_installments,payment_value,order_item_id,price,freight_value,seller_zip_code_prefix,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,14409,4,1,2,146.87,1,124.99,21.88,8577,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
1,9790,5,1,8,335.48,1,289.00,46.48,88303,43.0,1002.0,3.0,10150.0,89.0,15.0,40.0
2,1151,5,1,7,157.73,1,139.94,17.79,8577,55.0,955.0,1.0,8267.0,52.0,52.0,17.0
3,8775,5,1,1,173.30,1,149.94,23.36,8577,48.0,1066.0,1.0,12160.0,56.0,51.0,28.0
4,13056,5,1,8,252.25,1,230.00,22.25,14940,61.0,407.0,1.0,5200.0,45.0,15.0,35.0

In [ ]:
f_df['payment_type'].unique()

array(['credit_card', 'debit_card', 'boleto', 'voucher'], dtype=object)

In [ ]:
f_df['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'canceled',
       'unavailable', 'approved'], dtype=object)

In [ ]:
f_df.groupby('order_id')['customer_id'].value_counts().sort_values(ascending=False).head(5)

order_id                          customer_id
895ab968e7bb0d5659d16cd74cd1650c  270c23a11d024a44c896d1894b261a83    63
fedcd9f7ccdc8cba3a18defedd1a5547  13aa59158da63ba0e93ec6ac2c07aacb    38
fa65dad1b0e818e3ccc5cb0e39231352  9af2372a1e49340278e7c1ef8d749f34    29
ccf804e764ed5650cd8759557269dc13  92cd3ec6e2d643d4ebd0e3d6238f69e2    26
c6492b842ac190db807c15aff21a7dd6  6ee2f17e3b6c33d6a9557f280edd2925    24
Name: count, dtype: int64

In [ ]:
f_df.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [ ]:
f_df['payment_installments'].mean()

np.float64(2.9462325597488084)

In [ ]:
order =f_df.groupby('order_id')['customer_unique_id'].nunique()
order[order>1].shape[0]

0

In [ ]:
f_df.groupby('customer_id')['review_score'].mean()

customer_id
00012a2ce6f8dcda20d059ce98491703    1.0
000161a058600d5901f007fab4c27140    4.0
0001fd6190edaaf884bcaf3d49edf079    5.0
0002414f95344307404f0ace7a26f1d5    5.0
000379cdec625522490c315e70c7a9fb    4.0
                                   ...
fffcb937e9dd47a13f05ecb8290f4d3e    5.0
fffecc9f79fd8c764f843e9951b11341    3.0
fffeda5b6d849fbd39689bb92087f431    4.0
ffff42319e9b2d713724ae527742af25    5.0
ffffa3172527f765de70084a7e53aae8    5.0
Name: review_score, Length: 96516, dtype: float64

In [ ]:
f_df['product_id'].value_counts().head()

product_id
aca2eb7d00ea1a7b8ebd4e68314663af    533
99a4788cb24856965c36a24e339b6058    517
422879e10f46682990de24d770e7f83d    507
389d119b48cf3043d311335e499d9c6b    405
368c6c730842d78016ad823897a372db    395
Name: count, dtype: int64

In [ ]:
f_df.groupby('product_category_name_english')['review_score'].mean().head()

product_category_name_english
agro_industry_and_commerce    4.150794
air_conditioning              3.969697
art                           3.935484
arts_and_craftmanship         4.125000
audio                         3.840849
Name: review_score, dtype: float64

In [ ]:
longest_delievery =f_df.groupby('product_id')['order_purchase_timestamp'].max().sort_values(ascending=False).head()
print(longest_delievery)

product_id
b98992ea80b467987a7fbb88e7f2076a   2018-09-03 09:06:57
d04857e7b4b708ee8b8b9921163edba3   2018-08-29 15:00:37
c7f27c5bef2338541c772b5776403e6a   2018-08-29 14:52:00
bdcf6a834e8faa30dac3886c7a58e92e   2018-08-29 14:18:28
2b4472df15512a2825ae86fd9ae79335   2018-08-29 14:18:23
Name: order_purchase_timestamp, dtype: datetime64[ns]

In [ ]:
f_df.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [ ]:
f_df.groupby('product_category_name')['freight_value'].mean().head()

product_category_name
agro_industria_e_comercio    27.646111
alimentos                    14.357965
alimentos_bebidas            16.432172
artes                        19.144562
artes_e_artesanato           15.422083
Name: freight_value, dtype: float64

In [ ]:
f_df["seller_id"].value_counts()

seller_id
4a3ca9315b744ce9f8e9374361493884    2128
6560211a19b47992c3666cc44a7e94c0    2111
1f50f920176fa81dab994f9023523100    2009
cc419e0650a3c5ba77189a1882b7556a    1885
da8622b14eb17ae2831f4ac5b9dab84a    1656
                                    ...
9a208dee8f95cfdf00760c4d627828ec       1
2078fe5066350e7d220c0ad3a3bbc6c1       1
fb8904a8ea99f8831b64ce27db2c1765       1
94165aea8a35c3c21499cbcae239b16c       1
cb810bd318f51b3dc3c753944d61a1fa       1
Name: count, Length: 3028, dtype: int64

In [ ]:
orders_per_month=f_df['order_purchase_timestamp'].dt.year
a=orders_per_month.value_counts()
print("orders made per month:",a)
orders_per_Year=f_df['order_purchase_timestamp'].dt.to_period("M")
b=orders_per_Year.value_counts()
print("orders made per year:",b)

orders made per month: order_purchase_timestamp
2018    62721
2017    52507
2016      381
Name: count, dtype: int64
orders made per year: order_purchase_timestamp
2017-11    8881
2018-03    8380
2018-01    8304
2018-05    8127
2018-04    8123
2018-02    7817
2018-08    7396
2018-06    7331
2018-07    7242
2017-12    6371
2017-10    5491
2017-08    5083
2017-09    5014
2017-07    4773
2017-05    4300
2017-06    3728
2017-03    3109
2017-04    2760
2017-02    1999
2017-01     998
2016-10     377
2016-09       3
2016-12       1
2018-09       1
Freq: M, Name: count, dtype: int64

In [ ]:
f_df.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [ ]:
f_df['order_purchase_timestamp'].dt.month.value_counts()

order_purchase_timestamp
8     12479
5     12427
7     12015
3     11489
6     11059
4     10883
2      9816
1      9302
11     8881
12     6372
10     5868
9      5018
Name: count, dtype: int64

In [ ]:
f_df['order_delivered_customer_date'] - f_df['order_estimated_delivery_date']

0        -11 days +10:35:35
1         -8 days +12:41:19
2           1 days 17:58:51
3        -13 days +16:04:25
4         -6 days +20:55:48
                ...
115604   -12 days +20:06:37
115605    -9 days +18:54:45
115606      7 days 19:03:15
115607   -19 days +19:58:39
115608   -13 days +18:42:36
Length: 115609, dtype: timedelta64[ns]

In [ ]:
f_df['order_approved_at'] - f_df['order_purchase_timestamp']

0        0 days 00:16:37
1        0 days 00:10:08
2        1 days 00:11:25
3        0 days 01:22:41
4        0 days 00:18:39
               ...
115604   0 days 00:20:28
115605   0 days 00:14:50
115606   0 days 00:18:13
115607   0 days 00:22:47
115608   0 days 04:23:16
Length: 115609, dtype: timedelta64[ns]

In [ ]:
f_df['payment_type'].value_counts()

payment_type
credit_card    85278
boleto         22510
voucher         6162
debit_card      1659
Name: count, dtype: int64

In [ ]:
f_df.groupby(['payment_type'])['payment_value'].mean()

payment_type
boleto         176.950041
credit_card    179.421424
debit_card     150.403080
voucher         64.292139
Name: payment_value, dtype: float64

In [ ]:
f_df[f_df['payment_installments'] == 1].groupby('customer_id')['payment_installments'].value_counts()

customer_id                       payment_installments
0002414f95344307404f0ace7a26f1d5  1                       1
000379cdec625522490c315e70c7a9fb  1                       1
0004164d20a9e969af783496f3408652  1                       1
00062b33cb9f6fe976afdcff967ea74d  1                       1
00066ccbe787a588c52bd5ff404590e3  1                       4
                                                         ..
fff675a0d5924b9162b4a1bf410466cd  1                       1
fff7466a253c0e59499ea943462c10f9  1                       1
fff906ecb75de5809be384e0f8d65e45  1                       1
fffa0238b217e18a8adeeda0669923a3  1                       1
fffecc9f79fd8c764f843e9951b11341  1                       3
Name: count, Length: 47549, dtype: int64

In [ ]:
f_df[f_df['payment_installments'] > 1].groupby('customer_id')['payment_installments'].value_counts()

customer_id                       payment_installments
00012a2ce6f8dcda20d059ce98491703  8                       1
000161a058600d5901f007fab4c27140  5                       1
0001fd6190edaaf884bcaf3d49edf079  10                      1
000419c5494106c306a97b5635748086  4                       1
00046a560d407e99b969756e0b10f282  5                       1
                                                         ..
fffb97495f78be80e2759335275df2aa  3                       1
fffcb937e9dd47a13f05ecb8290f4d3e  6                       1
fffeda5b6d849fbd39689bb92087f431  3                       1
ffff42319e9b2d713724ae527742af25  2                       1
ffffa3172527f765de70084a7e53aae8  4                       2
Name: count, Length: 49801, dtype: int64